/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

header {
  margin-top: 150px;
}

h1 {
  text-align: center;
  min-width: 300px;
}

.quiz-container {
  padding: 0px;
  margin: 0px;
}

form {
  display: block;
  height: 50vw;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  max-width: 575px;
  min-width: 300px;
}

label {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(0, 0, 0, 0.05);
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.question {
  display: block;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 3px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  width: 90vw;
  max-width: 573px;
  min-width: 300px;
}

.score {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  width: 55vw;
  text-align: center;
  min-width: 300px;
}

.answers {
  /* display: none; */
  /* visibility: hidden; */
  width: 0;
  height: 0;
}



.hidden {
  display: none;
}

.start-container {
  padding: 5px;
  margin: 0px;
}

.end-container {
  padding: 5px;
  margin: 0px;
}

.instructions {
  
}

.instructions-body {
  margin-top: 10px;
  margin-bottom: 10px;
}

.results {
  text-align: center;
}

.results-body {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.start-button {
  margin-top: 10px;
}

.end-button {

}

.next-button {

}

.submit-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
}

.continue-button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
}

.quiz-label:hover {
  background-color: black;
  color: white;
}

.answers:focus + label {
  background-color: black;
  color: white;
}

/*.quiz-label::selection {
  background-color: green;
  color: white;
}*/

/* .quiz-container input[type='radio']:checked + label.quiz-label {
  background-color: green;
} */


